html,body{
  height: 100%;
  width: 100%;
}
body{
  background: url("images/pretty.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-clip: cover;
  -o-background-size:cover;
  background-size: cover;
  filter: blur(0px);

}
.Project-Heading{
  color: white;

  background-color: plum;
  border: 5px solid black;
  text-align: center;
}
#Mon{
  margin-left: 37%;
}

.MonopolyBCK{
  border: 5px solid black;
  padding: 10px 20px;
  background-color: black;
  background-clip: border-box;
  opacity: 71%;
}
.mon_infor{
  margin-left: 28%;
  font-size: 1.1em;
  color: white;
}
.infor2{
  margin-left: 33%;
  font-size: 1.1em;
  color: white;
}
.infor3{
  margin-left: 45%;
  color: white;
}
.Charity{
  border: 5px solid black;
  padding: 10px 20px;
  background-color: black;
  background-clip: border-box;
  opacity: 71%;
}
#OP{
  margin-left: 37%;
}
.OP{
  margin-left: 34%;
  font-size: 1.1em;
  color: white;
}
.op{
  margin-left: 42%;
  color: white;
}
.back{
  font-size: 2rem;
  padding: 14px 40px;
  background-image: url("images/back_button.jpg");
  background-size: cover;
  border-radius: 4px;
  cursor: pointer;
  position:absolute;
  top: 1014px;
  left: 689px;
}
.back:hover{
  box-shadow: 0 11px 14px 0 rgba(0,0,0,0.24), 0 16px 40px 0 rgba(0,0,0,0.19);
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  html,body{
    height: 100%;
    width: 100%;
  }
  body{
    background: url("images/pretty.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-clip: cover;
    -o-background-size:cover;
    background-size: cover;
    filter: blur(0px);
  
  }
  .Project-Heading{
    color: white;
  
    background-color: orange;
    border: 5px solid black;
    text-align: center;
  }
  #Mon{
    margin-left: 37%;
  }
  
  .MonopolyBCK{
    border: 5px solid black;
    padding: 10px 20px;
    background-color: black;
    background-clip: border-box;
    opacity: 71%;
  }
  .mon_infor{
    margin-left: 28%;
    font-size: 1.1em;
    color: white;
  }
  .infor2{
    margin-left: 33%;
    font-size: 1.1em;
    color: white;
  }
  .infor3{
    margin-left: 45%;
    color: white;
  }
  .Charity{
    border: 5px solid black;
    padding: 10px 20px;
    background-color: black;
    background-clip: border-box;
    opacity: 71%;
  }
  #OP{
    margin-left: 37%;
  }
  .OP{
    margin-left: 34%;
    font-size: 1.1em;
    color: white;
  }
  .op{
    margin-left: 42%;
    color: white;
  }
  .back{
    font-size: 2rem;
    padding: 14px 40px;
    background-image: url("images/back_button.jpg");
    background-size: cover;
    border-radius: 4px;
    cursor: pointer;
    position:absolute;
    top: 1014px;
    left: 689px;
  }
  .back:hover{
    box-shadow: 0 11px 14px 0 rgba(0,0,0,0.24), 0 16px 40px 0 rgba(0,0,0,0.19);
  }
}