html,body{
  height: 100%;
  width: 90%;
}
body{
  background: url("images/pretty.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-clip: cover;
  -o-background-size:cover;
  background-size: cover;
  filter: blur(0px);
}
#Mon{
  position: absolute;
  top: 22px;
  left: 44px;
}
.back{
  font-size: 2rem;
  padding: 14px 40px;
  background-image: url("images/back_button.jpg");
  background-size: cover;
  border-radius: 4px;
  cursor: pointer;
  position:absolute;
  top: 823px;
  left: 689px;
}
.back:hover{
  box-shadow: 0 11px 14px 0 rgba(0,0,0,0.24), 0 16px 40px 0 rgba(0,0,0,0.19);
}
.mon_infor{
  position: absolute;
  top: 278px;
  left: 0px;
  font-size: 1.1em;
  color: white;
}
.infor2{
  position: absolute;
  top: 313px;
  left: 0px;
  font-size: 1.1em;
  color: white;
}
.infor3{
  position: absolute;
  top: 350px;
  left: 0px;
  color: white;
}
#OP{
  position: absolute;
  top: 511px;
  left: 60px;
}
.OP{
  position: absolute;
  font-size: 1.1em;
  top: 778px;
  left: 29px;
  color: white;
}
.op{
  position: absolute;
  top: 814px;
  left: 102px;
  font-size: 1.1em;
  color: white;
}