/* Done with skills page */
html, body{
  width: 90%;
  height: 90%;
}
#python{
  position: absolute;
  top: 151px;
  left: 146px;
}
#Html{
  position: absolute;
  top: 153px;
  left: 373px;
}
#Css{
  position: absolute;
  top: 153px;
  left: 556px;
}
#JS{
  position: absolute;
  top: 153px;
  left: 736px;
}
#DJ{
  position: absolute;
  top: 151px;
  left: 938px;
}
#Java{
  position: absolute;
  top: 130px;
  left: 1108px;
}
.information{
  position: absolute;
  top: -10px;
  left: 283px;
  font-size: 2.5em;
}
.back{
  font-size: 2rem;
  padding: 14px 40px;
  background-image: url("images/back_button.jpg");
  background-size: cover;
  border-radius: 4px;
  cursor: pointer;
  position:absolute;
  top: 620px;
  left: 689px;
}
.back:hover{
  box-shadow: 0 11px 14px 0 rgba(0,0,0,0.24), 0 16px 40px 0 rgba(0,0,0,0.19);
}