/* Done with home page */
html, body{
  height: 50%;
  width: 100%;
}
body{
  overflow-y: hidden;
  /* overflow-x: hidden; */
  background-image: linear-gradient(to left , #3366ff 0%, #ff99cc 100%);
}
.center{
  position: absolute;
  top: 50%;
  right: 50%;
  transform:(-50%, -50%); 
}
.wel {
  font-size: 400%;
  position: absolute;
  top: -325px;
  left: -353px;
  background: -webkit-linear-gradient(#000099, #cc0066); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about{
font-size: 2rem;
padding: 14px 40px;
background-image: linear-gradient(to right, #6699ff 15%, #ff33cc 70%);
background-size: cover;
border: none;
border-radius: 4px;
cursor: pointer;
position: absolute;
top: 13px;
left: -550px;
}
.about:hover{
  box-shadow: 0 11px 14px 0 rgba(0,0,0,0.24), 0 16px 40px 0 rgba(0,0,0,0.19);
}
.skills{
  font-size: 2rem;
  padding: 14px 40px;
  background-image: linear-gradient(to left, #6699ff 15%, #ff33cc 70%);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-size: cover;
  position: absolute;
  top: 13px;
  left: 12px;
  }
.skills:hover{
  box-shadow: 0 11px 14px 0 rgba(0,0,0,0.24), 0 16px 40px 0 rgba(0,0,0,0.19);
}
.project{
  font-size: 2rem;
  padding: 14px 40px;
  background-color:#ff33cc;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-size: cover;
  position: absolute;
  top: 13px;
  left: -254px;
  }
.project:hover{
  box-shadow: 0 11px 14px 0 rgba(0,0,0,0.24), 0 16px 40px 0 rgba(0,0,0,0.19);
}
.contact{
  font-size: 2rem;
  padding: 14px 40px;
  background-image: linear-gradient(to right, #6600ff 15%, #cc00cc 56%);
  border-radius: 4px;
  border: none;
  background-size: cover;
  cursor: pointer;
  position: absolute;
  top: 121px;
  left: -123px;
  }
  .contact:hover{
    box-shadow: 0 11px 14px 0 rgba(0,0,0,0.24), 0 16px 40px 0 rgba(0,0,0,0.19);
    color: #000;
  }
  #port {
    float: right;
    margin: 170px 200px 0 200px;
    position: absolute;
    left: 769px;
    top: -86px;
    border-radius: 100%;
  }
  .resume{
    font-size: 2rem;
    padding: 14px 40px;
    background-image: linear-gradient(to left, #6600ff 15%, #cc00cc 56%);
    border-radius: 4px;
    border: none;
    background-size: cover;
    cursor: pointer;
    position: absolute;
    top: 121px;
    left: -398px;
    }
    .resume:hover{
      box-shadow: 0 11px 14px 0 rgba(0,0,0,0.24), 0 16px 40px 0 rgba(0,0,0,0.19);
    }

  /* @media screen and (min-width:200px) and (max-width:600px){
    .wel{
      position: absolute;
      font-size: 3em;
      top: -336px;
      left: 15px;
      background: -webkit-linear-gradient(#000099, #cc0066); 
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    #port{
      float: right;
      margin: 170px 200px 0 200px;
      position: absolute;
      left: 44px;
      top: -44px;
      border-radius: 100%;
    }
    .about{
      top: -244px;
      left: -274px;
    }
    .project{
      top: -177px;
      left: -274px;
    }
    .skills{
      top: 6px;
      left: -274px;
    }
    .resume{
      top: 132px;
      left: -274px;
    }
  } */

  @media only screen and (max-width: 800px) {
    html, body{
      height: 50%;
      width: 100%;
    }
    #port {
      border: 2px solid red;
      float: center;
      margin: 170px 200px 0 200px;
      position: absolute;
      left: 69px;
      top: -86px;
      border-radius: 100%;
    }
    .wel {
      font-size: 400%;
      position: absolute;
      top: -400px;
      left: -353px;
      background: -webkit-linear-gradient(#000099, #cc0066); 
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .about{
      font-size: 2rem;
      padding: 14px 40px;
      background-image: linear-gradient(to right, #6699ff 15%, #ff33cc 70%);
      background-size: cover;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      position: absolute;
      top: -150px;
      left: -320px;
      }
      .about:hover{
        box-shadow: 0 11px 14px 0 rgba(0,0,0,0.24), 0 16px 40px 0 rgba(0,0,0,0.19);
      }
      .skills{
        font-size: 2rem;
        padding: 14px 40px;
        background-image: linear-gradient(to left, #6699ff 15%, #ff33cc 70%);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        background-size: cover;
        position: absolute;
        top: 48px;
        left: -320px;
        }
      .skills:hover{
        box-shadow: 0 11px 14px 0 rgba(0,0,0,0.24), 0 16px 40px 0 rgba(0,0,0,0.19);
      }
      .project{
        font-size: 2rem;
        padding: 14px 40px;
        background-color:#ff33cc;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        background-size: cover;
        position: absolute;
        top: -50px;
        left: -320px;
        }
      .project:hover{
        box-shadow: 0 11px 14px 0 rgba(0,0,0,0.24), 0 16px 40px 0 rgba(0,0,0,0.19);
      }
      .resume{
        font-size: 2rem;
        padding: 14px 40px;
        background-image: linear-gradient(to left, #6600ff 15%, #cc00cc 56%);
        border-radius: 4px;
        border: none;
        background-size: cover;
        cursor: pointer;
        position: absolute;
        top: 145px;
        left: -320px;
        }
        .resume:hover{
          box-shadow: 0 11px 14px 0 rgba(0,0,0,0.24), 0 16px 40px 0 rgba(0,0,0,0.19);
        }
      .contact{
        font-size: 2rem;
        padding: 14px 40px;
        background-image: linear-gradient(to right, #6600ff 15%, #cc00cc 56%);
        border-radius: 4px;
        border: none;
        background-size: cover;
        cursor: pointer;
        position: absolute;
        top: 240px;
        left: -320px;
        }
        .contact:hover{
          box-shadow: 0 11px 14px 0 rgba(0,0,0,0.24), 0 16px 40px 0 rgba(0,0,0,0.19);
          color: #000;
        }
  }